<!DOCTYPE HTML>

<html>
  
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/about.css') }}">
<!-- 		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/nav.css') }}"> -->
     
    <title>Easy Games</title>
  </head>
  <body>
		 <div class="topnav">
				<a class="active" href="/">Home</a>
			 <a href="/platform">Gaming Platforms</a>
			<a href="/trending">Trending Games</a>
			<a href="/anticipated">Upcoming Games</a>
			<a href="/about">About Us</a>
		</div>
    
    <div class = "header">

      <p><a><ul>
        About Us!
        </ul></a></p>
  </div>
		<div class="about" style="color:gold; font-size:20px;text-align: center;font-family:'Courier New">
			<p style="font-size:30px;">Easy Games is a ONE-STOP-SHOP for all the gaming information you need</p>
			<p style="color:white">1. Search for a particular video game on Home page</p>
			<p style="color:white">2. See games available on different platforms from the Gaming Platform page</p>
			<p style="color:white">3. Check the Trending Games page to see the HOT GAMES right now</p>
			<p style="color:white">4. Go to the Upcoming Games page to see the most anticipated games for the next year</p>

		</div>

  </body>
  
</html>