<!DOCTYPE HTML>

<html>
  
  <head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">

     
    <title>Easy Games</title>
  </head>
  <body>
    
<!--  navigation bar    -->
    <div class="topnav">
      <p><a href="{{ url_for('trending') }}">Trending</a></p>
      <a class="active" href="#home">Home</a>
      
    </div>

    
    <div class = "header">
      
      <p><a><ul>
        Welcome To Easy Games!
        </ul></a></p>
    </div>
    
    <div class = "description">
      <a>To look up a video game's price, choose a console and enter the name to search!</a>
    </div>
    
    
<!--     drop down  -->
    
    <div class = "dropdown">
      <p><a><ul>
        
      <label for="console">Choose a console:</label>
      <select name="console" id="console">
        <option value="PS4">PS4</option>
        <option value="Xbox One">Xbox One</option>
      </select>
      <br><br>
      
      
        
      <form id="form"> 
        <label for="game">Enter a Video Game:</label>
        <input type="search" id="query" name="q" placeholder="Search...">
        
      <br><br><br>
        
      <button>Search</button>
    </form>
        
      </ul>
      </a>
      </p>
    </div>
    

    
    
    

  </body>
  
</html>
