

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #21616e;
  
}

.topnav {
  background-color: #243f40;
  overflow: hidden;
	position:fixed;
	top:0;
	width:100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #329ea8;
  color: white;
}


/*  */

/*  */


/* title 

.header {
  background-color: black;
}
*/
.header ul a{
  
    color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 70px;
}

/* description */

.description a{
    color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 30px;
  
}


/*  drop down */


.dropdown {
    /*background-color: white; */
    color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 20px;
}


.dropdown ul a{

    color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 20px;
}


.dropdown button {
    background-color:#243f40;
    color: white;
    padding: 20px;
    text-decoration: none;
    border-style: none; 
}


.dropdown button:hover{
    background-color: #329ea8;
}
