

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #21616e;
  
}

/* nav bar */

.topnav {
  overflow: hidden;
  background-color: #243f40;
  margin-left: 1360px;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #329ea8;
  color: white;
}

/* .topnav a.active {
  background-color: #329ea8;
  color: white; */
}

/*  */


/* title */

.header {
  background-color: #f7f7f7;
}

.header ul a{
  
    color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 50px;
}

/* description */

.description a{
      color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 30px;
  
}


/*  */drop down


.dropdown {
  background-color: white;
      color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 20px;
}
.dropdown ul a{

    color: white;
    display: block;
    padding: 70px 65px 0 0;
    text-decoration: none;
    width:100%;
    text-align:center;
    font-size: 20px;
}


.dropdown button {
    background-color:#243f40;
    color: white;
    padding: 20px;
    text-decoration: none;
    border-style: none; 
}


.dropdown button:hover{
    background-color: #329ea8;
}
